body {
    /* HSLuv 100, 10, 90 */
    background-color: #e0e4d6;
    font-family: serif;
    /* HSLuv 100, 10, 20 */
    color: #30312d
}

blockquote {
    /* HSLuv 100, 30, 60 */
    border-left: 4pt solid #8c9478;
    padding-left: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}
