body {
    background-color: #daded3;
    font-family: serif;
    color: #2a2e23
}

div.login-options {
    margin: auto;
    margin-top: 6em;
    width: fit-content;
    font-size: 2em;
}

div.login-options a {
    color: inherit;
}

div.login-options img {
    height: 1.6em;
    vertical-align: middle;
    margin-right: 0.4em;
}

.news-item {
    margin-bottom: 2em;
}
.news-item * {
    max-width: 100%;
}
.news-item::after {
    content: "";
    clear: both;
    display: table;
}
.news-list {
    max-width: 36em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    clear: left;
}
.news-header {
    font-weight: bold;
    margin-bottom: 1em;
}

.news-header a {
    text-decoration: none;
    color: inherit;
}
div.article-footer {
    opacity: 0.66;
    font-style: italic;
}

.nav-btn {
    color: inherit;
    background-color: inherit;
    border: 0.1em solid;
    border-radius: 0.4em;
    padding: 0.5em;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
}

.disabled {
    opacity: 0.33;
    cursor: not-allowed;
}

.nav-btn-right {
    float: right;
}

p.no-more {
    text-align: center;
    margin-top: inherit;
    margin-bottom: inherit;
}

input.item-check {
    display: none;
}
label.item-check {
    cursor: pointer;
}
label.item-check svg {
    height: 1em;
    vertical-align: middle;
    stroke: #2a2e23;
    fill: #cd625a;
}
input.archive-item-check + div.news-item label.item-check svg .checkmark {
    stroke-opacity: 0;
}
input.archive-item-check:checked + div.news-item label.item-check svg .checkmark {
    stroke-opacity: 1;
}
input.archive-item-check + div.news-item {
    opacity: 1;
}
input.archive-item-check:checked + div.news-item {
    opacity: 0.33;
}

input.select-item-check + div.news-item label.item-check svg .bookmark-icon {
    fill: none;
}
input.select-item-check:checked + div.news-item label.item-check svg .bookmark-icon {
    fill: inherit;
}

textarea {
    width: 100%;
    height: 24em;
    margin-bottom: 1em;
}

div.menu {
    float: left;
    background-color: inherit;
    margin: 0.4em;
}

div.menu svg {
    height: 2em;
    stroke: #2a2e23;
    fill: none;
}

div.menu-items {
    position: absolute;
    display: none;
    z-index: 1;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: inherit;
    border: 0.1em solid;
    border-radius: 0.4em;
}

div.menu-items div {
    margin: 1em;
}

div.menu-items a {
    color: inherit;
}

div.menu:hover div.menu-items {
    display: block;
}
